<div class="">
  <a class="hiddenanchor" id="toregister"></a>
  <a class="hiddenanchor" id="tologin"></a>

  <div id="wrapper" style="margin-top: 2%">
    <div id="login" class="animate form">
      <section class="login_content">
      <div><%= image_tag "a11.png",  style: "width: 30%;"  %></div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h1>Login Form</h1>
          <div>
            <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder =>"Username",  :required => ""  %>

          </div>
          <div>

            <%= f.password_field :password, autofocus: true, :class => "form-control", :placeholder =>"Password",  :required => ""  %>

          </div>


            <% if devise_mapping.rememberable? -%>
                <div class="checkbox-inline">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
            <% end -%>


            <div>

            <%= f.submit "Log in", :class => "btn btn-default submit", style: "margin-left: 140px;"%>
          </div>
          <div class="clearfix"></div>
          <div class="separator">
            <div class="clearfix"></div>
            <br />
            <div>
              <h1><i class="fa fa-paw" style="font-size: 26px;"></i> Partner App!</h1>

              <p>©2015 All Rights Reserved. Partner App! is a Bootstrap 3 template. Privacy and Terms</p>
            </div>
          </div>
        <% end %>
        <!-- form -->
      </section>
      <!-- content -->
    </div>
    <div id="register" class="animate form">
      <section class="login_content">
        <form>
          <h1>Create Account</h1>
          <div>
            <input type="text" class="form-control" placeholder="Username" required="" />
          </div>
          <div>
            <input type="email" class="form-control" placeholder="Email" required="" />
          </div>
          <div>
            <input type="password" class="form-control" placeholder="Password" required="" />
          </div>
          <div>
            <a class="btn btn-default submit" href="index.html">Submit</a>
          </div>
          <div class="clearfix"></div>
          <div class="separator">

            <p class="change_link">Already a member ?
              <a href="#tologin" class="to_register"> Log in </a>
            </p>
            <div class="clearfix"></div>
            <br />
            <div>
              <h1><i class="fa fa-paw" style="font-size: 26px;"></i> Partner App!</h1>

              <p>©2015 All Rights Reserved. Patner App. Privacy and Terms</p>
            </div>
          </div>
        </form>
        <!-- form -->
      </section>
      <!-- content -->
    </div>
  </div>
</div>
